<!doctype html>
<html>

  <head> 
    <title>Socket.IO chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../lib/angular/angular.js"></script>
     <script src="./chatController.js"> </script>
    <link rel="stylesheet" type="text/css" href="../style.css"></link>
    <!-- <link rel="stylesheet" href="../lib/foundation/css/foundation.min.css"> -->
  </head>

  <body ng-app="chat">
    <div ng-controller="chatCtrl">
      <div id="messages">
        <ul ng-repeat="msg in messages">
          <li>{{msg.username}}: {{msg.message}}</li>
        </ul>
      </div>
      <form id="chatInput" ng-submit="sendMsg($event)" action="">
        <input id="m" type="text" ng-model="data.message"/><button>Send</button>
      </form>
    </div>
  </body>

</html>    


    <!-- *****TO DO - change to angular style view loading***** -->
    <!-- SORT OUT script ordering -->
    
  
<!--   <script>
    var socket = io();
    $('form').submit(function(){
      socket.emit('new message', $('#m').val());
      $('#m').val('');
      return false;
    });
  </script>
 -->
