<!-- Header -->
<header class="col-xs-12" id="funcNav">
  <a id="#top"></a>
  <div class="dropdown col-xs-offset-10 col-xs-2">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="acct">Account</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a ui-sref="homepage">Home</a></li>
      <li><a href="#" id="signout" ng-click="signout()">Sign Out</a></li>
    </ul>
  </div>
  <h1 class="title col-xs-10">Thunder Routes</h1>
</header>

<a class="infoHeader" ng-click="isCreateClosed = !isCreateClosed"><h3>
  <i class="fa fa-caret-right" ng-class="{'fa-rotate-90': !isCreateClosed}" aria-hidden="true"></i>
  <span>Create a Trip</span>
</h3></a>
<!-- Form to create new trip -->
<form class="form-inline" ng-show="!isCreateClosed">
  <div class="form-group">
    <div class="row">
    <label for="tripname">Trip Name: </label>
      <input id="tripname" type="text" class="form-control" autofocus placeholder="Trip name here" ng-model="input.tripname">
      <label for="start">Start: </label>
      <input id="start" type="text" class="form-control" placeholder="Start here" ng-model="input.start" />
      <label for="end">Destination: </label>
      <input id="end" type="text" class="form-control" placeholder="End here" ng-model="input.end" />
      </select>
      <button id="search-btn" class="btn btn-default" ng-click="createTrip()">Create Trip</button>
    </div>
    <div class="row">
      <div class="row" ng-repeat="field in input.inviteFields track by $index">
        <label>Username: </label>
        <input type="text" class="form-control" placeholder="Invite friend" 
          ng-model="input.inviteFields[$index]" />
        <button class="btn btn-default" ng-click="addInviteField()"
          ng-show="$index === input.inviteFields.length - 1"> + </button>
        <button class="btn btn-default" ng-click="removeInviteField()"
          ng-show="$index && $index === input.inviteFields.length - 1"> - </button>
      </div>
    </div>
  </div>
</form>

<!-- Saved trips -->
<a class="infoHeader" ng-click="isTripsClosed = !isTripsClosed"><h3>
  <i class="fa fa-caret-right" ng-class="{'fa-rotate-90': !isTripsClosed}" aria-hidden="true"></i>
  <span>Saved Trips</span>
</h3></a>
<div class="col-xs-12 savedRoutes" ng-show="!isTripsClosed">
  <div class="row info save-routes" ng-repeat="route in savedRoutes">
    <div class="col-xs-4">
      <p class="route-start">From: {{ route.startPoint }}</p>
      <p class="route-end">To: {{ route.endPoint }}</p>
    </div>
    <div class="col-xs-4">
      <!-- <div class="stop-count">Number of stops: <br /> {{ route.wayPoints.length/2 }}</div> -->
      <div class="stop-count">{{route.wayPoints.length/2}} stop<span ng-if="route.wayPoints.length > 2">s</span></div>
    </div>
    <div class="col-xs-4 centered">
      <button class="saved-route-link btn" ng-click="viewSavedRoute(route.hash)">View this Route</button>
    </div>
  </div>
</div>