<!-- Header -->
<header class="col-xs-12" id="funcNav">
  <a id="top"></a>
  <h1 class="title col-xs-offset-2 col-xs-8">Thunder Routes</h1>
  <div class="dropdown col-xs-2">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="acct">Account</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><p class="dropdown-username">{{username}}</p></li>
      <li><a ui-sref="homepage">Home</a></li>
      <li><a href="#" id="signout" ng-click="signout()">Sign Out</a></li>
    </ul>
  </div>
</header>

<!-- Search form -->
<div class="row">
  <form class="col-xs-10">
    <div class="col-xs-2">
      <label>Trip Name: </label>
      <input id="tripname" type="text" class="form-control" ng-model="input.tripname" />
    </div>
    <div class="col-xs-2">
      <label>Start: </label>
      <input id="start" type="text" class="form-control" 
        placeholder="Enter start point" ng-model="input.start" />
    </div>
    <div class="col-xs-2">
      <label>Destination: </label>
      <input id="end" type="text" class="form-control" 
        placeholder="Enter end point" ng-model="input.end" />
    </div>
    <div class="col-xs-2">
      <label for="gas">Food Stops: </label>
      <select class="form-control selectpicker" ng-model ="route.numStops" ng-options="n for n in route.stopOptions">
      </select>
    </div>
    <div class="col-xs-2">
      <label for="gas">Miles for Gas Stops: </label>
      <input id="gas" type="text" class="form-control"
        placeholder="Enter number of miles..." ng-model="input.gas" />
    </div>
    <div class="col-xs-2 get-stops-margin-top">
      <button id="search-btn" class="btn btn-default" ng-click="getRoute()">Get Stops</button>
    </div>
  </form>

  <div class="col-xs-2">

    <button class="btn btn-block btn-warning get-stops-margin-top" 
      ng-click="updateTrip()">Save All Changes</button>

  </div>
</div>

<!-- Container for map and stops -->
<div class="row">
  <!-- Map -->
  <div class="col-xs-7">
    <div id="map"></div>
  </div>

  <!-- Stops -->
  <div class="col-xs-3">
    <a ng-click="isStopsClosed = !isStopsClosed"><h3 class="infoHeader">
      <i class="fa fa-caret-right" ng-class="{'fa-rotate-90': !isStopsClosed}" aria-hidden="false"></i>
      <span>Stops</span>
      <span>({{places.length}})</span>
    </h3></a>
    <div class="info-content pre-scrollable" ng-show="!isStopsClosed">
      <div class="row info" ng-repeat="place in places | orderBy:'position'">
        <div class="col-xs-4">
          <img class="yelp-img" ng-src="{{place.image}}"/>
        </div>
        <div class="col-xs-8">
          <p class="stop-name">{{getLetter(place.position)}}. 
            <a ng-href="{{place.url}}" target="_blank">{{place.name}}</a>
          </p>
          <img class="rating" ng-src="{{place.rating}}" />
          <p class="categories">Type: {{place.categories}}</p>
          <p class="stop-address">{{place.location[0]}}</p>
          <p class="stop-address">{{place.location[1]}}, {{place.location[2]}}</p>
          <p class="stop-address">{{place.location[3]}}</p>
          <p class="phone">{{place.phone}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- User list and save changes button -->
  <div class="col-xs-2">
    <a ng-click="isUsersClosed = !isUsersClosed"><h3 class="infoHeader">
      <i class="fa fa-caret-right" ng-class="{'fa-rotate-90': !isUsersClosed}" aria-hidden="false"></i>
      <span>Friends</span>
      <span>({{input.users.length}})</span>
    </h3></a>

    <div class="row info">
      <form class="" name="addUserForm" 
        ng-submit="addUser(input.userInput); input.userInput = '';">
        <input type="text" class="form-control" placeholder="Invite friend" 
          ng-model="input.userInput" required />
      </form>
    </div>
    <div class="friends-info-content" ng-show="!isUsersClosed">
      <div class="row info" ng-repeat="user in input.users track by $index">
        <label class="friend-name">{{user}}</label>
        <button class="btn btn-sm btn-default pull-right friend-button" ng-click="removeUser($index)">Uninvite</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
<!-- Chat window -->
  <div class="col-xs-7">
    <!-- HEADER -->
    <div class="panel">
      <div class="panel-heading chat-header" id="accordion">
        <span class="glyphicon glyphicon-comment"></span> Chat
        <div class="btn-group pull-right">
          <a class="infoHeader" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ng-click="getChat()">
            <i class="fa fa-caret-left" ng-class="{'fa-rotate-270': !isChatClosed}" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="panel-collapse collapse" id="collapseOne">
        <!-- MESSAGES -->
        <div class="panel-body messages" scroll-bottom="messages">
          <ul class="chat" ng-repeat="msg in messages">
            <li class="left clearfix">
              <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" 
                  alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{msg.username}}</strong><small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{msg.time}}</small>
                </div>
                <p>{{msg.message}}</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- FOOTER -->
        <div class="panel-footer">
          <div class="input-group">
            <!-- ngsubmit -->
            <form id="chatInput" ng-submit="sendMsg($event)" action="">
              <!-- ngmodel -->
              <input id="btn-input" ng-model="data.message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            </form>
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- HOTELS -->
<h3>Top Hotels in {{hotels[0].location.city}}</h3>
<div class="hotels" ng-repeat="hotel in hotels">
  <p class="yelpName"><a ng-href="{{hotel.url}}" target="_blank">{{hotel.name}}</a>
  </p>
  <img class="rating" ng-src="{{hotel.rating}}" />
  <p class="phone">{{hotel.phone}}</p>
  <img class="yelpPic" ng-src="{{hotel.image}}"/>
</div>

<!-- ATTRACTIONS -->
<h3>Top Attractions in {{attractions[0].location.city}}</h3>
<div class="attractions" ng-repeat="attraction in attractions">
  <p class="yelpName"><a ng-href="{{attraction.url}}" target="_blank">{{attraction.name}}</a>
  </p>
  <img class="rating" ng-src="{{attraction.rating}}" />
  <p class="phone">{{attraction.phone}}</p>
  <img class="yelpPic" ng-src="{{attraction.image}}"/>
</div>

<!-- Very important invisible div for places search -->
<div id="invisible"></div>
<a id="bottom"></a>

